.menu-items {
    min-height: 30px;
    background-size: cover;
    background-position: 30% 40%;
    display: flex;
    justify-content: first baseline;
    border: 5px solid rgb(2, 41, 2);
    background-color: rgb(3, 44, 3);
    font-style: normal;
    font-weight: bold;
    font-stretch: ultra-expanded;
    -webkit-text-fill-color: aliceblue Sans, sans-serif, white;
}

.baner {
    min-height: 100px;
    background-size: cover;
    background-color: #e9cdea;
    border-block-end-color: 900px #e9cdea;
}